<div @fadeInAnimation class="py-2">
  <breadcrumbs></breadcrumbs>
  <div id="movie">
    <div class="media">
      <img src="{{ movie.poster }}" class="mr-3" alt="...">
      <div class="media-body">
        <h3 class="mt-0">{{ movie.title }}</h3>
        <h5> Released {{ movie.released | date }}</h5>
        <h5>{{ movie.rating }}</h5>
        <p>{{ movie.genre }} | {{ movie.actors }}</p>
        <p>{{ movie.plot }}</p>
      </div>
    </div>
  </div>
  <div id="movie-comment">
    <comment-form></comment-form>
  </div>
  <div class="comment-list">
    <comment-list></comment-list>
  </div>
</div>
